body {
  background: #ecf0f1;
}
ul,
ol {
  list-style: none;
}
.wrapper {
  width: 95%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
header {
  background: #27ae60;
  width: 100%;
  height: 3.688em;
  /*75px;*/
  padding: .5em ;
}
header .file_upload {
  outline: none;
  text-align: center;
}
header .file_upload::-webkit-file-upload-button {
  visibility: hidden;
}
header .file_upload:before {
  content: 'ЗАВАНТАЖИТИ КНИЖКУ';
  display: inline-block;
  padding: 0.625em;
  color: #ffffff;
  font-family: "lato_regular", arial;
  font-size: 1.250em;
  text-decoration: none;
  margin-top: 0.188em;
  text-transform: uppercase;
  letter-spacing: 0.063em;
  border: 0.125em solid;
  border-radius: 0.063em;
  transition: 0.2s;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 0.063em 0 #ffffff;
}
header .file_upload:hover:before {
  background: rgba(255, 255, 255, 0.2);
}
header .file_upload:active:before {
  background: #ffffff;
}
.tabs {
  position: relative;
  margin-top: -1% !important;
  min-height: 12.5em;
  clear: both;
}
.tab {
  float: left;
  margin-top: 0.375em !important;
  /* 6 px*/
}
.tab label {
  background: #eeeeee;
  padding: 0.313em;
  /*5px;*/
  border: 0.063em solid #ccc;
  /*1px*/
  margin-left: 0;
  position: relative;
  left: 0.938em;
  /* 15px;*/
  cursor: pointer;
}
.tab [type=radio] {
  display: none;
}
.tab [type=radio]:checked ~ label {
  background: #444;
  border-bottom: 0;
  z-index: 2;
  color: #27ae60;
}
.tab [type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
.tab .content {
  position: absolute;
  top: 1.750em;
  /*28px;*/
  left: 0;
  background: #444444;
  color: #eff4d0;
  right: 0;
  bottom: 0;
  padding: 1.250em;
  /*20px;*/
  border-top: 0.063em solid #27ae60;
  border-bottom: 0.063em solid #655F5F;
}
.tab .content li {
  width: 30%;
  float: left;
  border-bottom: 0.063em solid #27ae60;
}
.tab .content a {
  width: 100%;
  height: 3em;
}
.tab .content a:hover {
  color: #ccc;
}
footer {
  width: 100%;
  height: 12.5em;
  bottom: 0;
  left: 0;
  position: fixed;
}
footer #menu {
  background: #444444 no-repeat 50%;
  width: 100%;
  height: 0.938em;
  cursor: pointer;
  position: fixed;
  bottom: 0;
}
footer .menu {
  color: #65bf95;
  margin-left: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 0;
}
#book {
  height: 82%;
  overflow: hidden;
  line-height: 1.5em;
  background-color: #fff;
}
#book img {
  max-height: 400px;
}
#book:after {
  content: '';
  clear: both;
  visibility: hidden;
  display: block;
}
.linehide {
  z-index: 10;
  position: absolute;
}
.bookcolumn {
  overflow: hidden;
  width: 50%;
  height: 100%;
  float: left;
}
#nobook {
  text-align: center;
  height: 20px;
  width: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -10px;
  overflow: hidden;
  width: 50%;
  height: 100%;
  float: left;
}
#nobook {
  text-align: center;
  height: 20px;
  width: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -10px;
}

#loader {
  position: relative;
  width: 250px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -125px;
}
#bookstatus {
  text-align: center;
}
#preloader {
  position: relative;
  width: 250px;
  height: 30px;
}
.preloader {
  position: absolute;
  top: 0;
  background-color: #353434;
  width: 30px;
  height: 30px;
  -moz-animation-name: bounce_preloader;
  -moz-animation-duration: 1.4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-transform: scale(0.3);
  -webkit-animation-name: bounce_preloader;
  -webkit-animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.3);
  -ms-animation-name: bounce_preloader;
  -ms-animation-duration: 1.4s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-transform: scale(0.3);
  -o-animation-name: bounce_preloader;
  -o-animation-duration: 1.4s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -o-transform: scale(0.3);
  animation-name: bounce_preloader;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transform: scale(0.3);
}
#preloader_1 {
  left: 0;
  -moz-animation-delay: 0.56s;
  -webkit-animation-delay: 0.56s;
  -ms-animation-delay: 0.56s;
  -o-animation-delay: 0.56s;
  animation-delay: 0.56s;
}
#preloader_2 {
  left: 31px;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#preloader_3 {
  left: 63px;
  -moz-animation-delay: 0.84s;
  -webkit-animation-delay: 0.84s;
  -ms-animation-delay: 0.84s;
  -o-animation-delay: 0.84s;
  animation-delay: 0.84s;
}
#preloader_4 {
  left: 94px;
  -moz-animation-delay: 0.98s;
  -webkit-animation-delay: 0.98s;
  -ms-animation-delay: 0.98s;
  -o-animation-delay: 0.98s;
  animation-delay: 0.98s;
}
#preloader_5 {
  left: 125px;
  -moz-animation-delay: 1.12s;
  -webkit-animation-delay: 1.12s;
  -ms-animation-delay: 1.12s;
  -o-animation-delay: 1.12s;
  animation-delay: 1.12s;
}
#preloader_6 {
  left: 156px;
  -moz-animation-delay: 1.26s;
  -webkit-animation-delay: 1.26s;
  -ms-animation-delay: 1.26s;
  -o-animation-delay: 1.26s;
  animation-delay: 1.26s;
}
#preloader_7 {
  left: 188px;
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  -ms-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
#preloader_8 {
  left: 219px;
  -moz-animation-delay: 1.54s;
  -webkit-animation-delay: 1.54s;
  -ms-animation-delay: 1.54s;
  -o-animation-delay: 1.54s;
  animation-delay: 1.54s;
}
@-moz-keyframes bounce_preloader {
  0% {
    -moz-transform: scale(1);
    background-color: #353434;
  }
  100% {
    -moz-transform: scale(0.3);
    background-color: #CCCCCC;
  }
}
@-webkit-keyframes bounce_preloader {
  0% {
    -webkit-transform: scale(1);
    background-color: #353434;
  }
  100% {
    -webkit-transform: scale(0.3);
    background-color: #CCCCCC;
  }
}
@-ms-keyframes bounce_preloader {
  0% {
    -ms-transform: scale(1);
    background-color: #353434;
  }
  100% {
    -ms-transform: scale(0.3);
    background-color: #CCCCCC;
  }
}
@-o-keyframes bounce_preloader {
  0% {
    -o-transform: scale(1);
    background-color: #353434;
  }
  100% {
    -o-transform: scale(0.3);
    background-color: #CCCCCC;
  }
}
@keyframes bounce_preloader {
  0% {
    transform: scale(1);
    background-color: #353434;
  }
  100% {
    transform: scale(0.3);
    background-color: #CCCCCC;
  }
}
