* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: #ecf0f1;
}
ul,
ol {
  list-style: none;
}
header {
  background: #27ae60;
  width: 100%;
  height: 12%;
  padding: 10px 5%;
  position: relative;
}
header .upload {
  width: 220px;
  float: left;
  height: 60px;
  border-right: 1px solid #fff;
  position: absolute;
}
header .upload .file_upload {
  width: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
}
header .upload #upload-button {
  width: 90%;
  margin: 1% 5%;
  border: 2px solid #fff;
  text-align: center;
  height: 90%;
  font-size: 1.5em;
  padding-top: 10px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}
header .upload #upload-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #27ae60;
}
header .upload #upload-button:active {
  color: #000;
}
header nav {
  width: 100%;
  float: right;
  padding-left: 240px;
}
header #book-page {
  display: inline-block;
  padding-top: 13px;
  height: 30px;
}
header ul.social li a,
header nav ul li a {
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}
header nav ul {
  list-style: none;
  float: left;
}
header nav ul .social {
  float: right;
  list-style: none;
  margin-top: 0px;
  padding: 0px 60px;
}
header nav ul .social input[type="text"] {
  border: 1px solid #fff;
}
header nav ul .social li {
  float: left;
  margin-left: 10px;
}
header nav ul .social li a {
  display: block;
  width: 35px;
  height: 35px;
  background: url('../img/sm.png') no-repeat;
}
header nav ul .social li a:hover {
  background: url('../img/sm_hover.png') no-repeat;
}
header nav ul .social li a .fb {
  background-position: 0 0;
}
header nav ul .social li a .gplus {
  background-position: -72px 0;
}
header nav ul li {
  float: left;
  margin-left: 35px;
  font-size: 16px;
  font-family: 'lato_regular', arial;
  letter-spacing: 1px;
}
header nav ul li:first-child {
  margin-left: 0;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
header nav ul li a:hover {
  color: #424242;
}
header #book-page {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
header #book-page span,
header #book-page input {
  display: inline-block;
  height: 30px;
  padding: 4px 5px;
}
header #book-page input {
  background: #36d278;
  border: 1px solid #fff;
  width: 40px;
  outline: none;
  color: #424242;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}
header #book-page input:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}
header #book-page span {
  color: #ffffff;
}
header #search_col {
  xwidth: 30%;
  float: right;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
header #search_col .search {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
header #search_col .search input {
  display: inline-block;
  width: 30px;
  height: 34px;
  font-size: 15px;
  font-weight: 400;
  color: #52464C;
  border-bottom: 1px solid transparent;
  border: 1px solid #ccc;
  padding-right: 30px;
  opacity: 0.15;
  /*-webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;*/
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
}
header #search_col .search label {
  position: absolute;
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  top: 1px;
  right: 0;
  color: #52464C;
  cursor: pointer;
  border: 1px solid #FFF;
}
header #search_col .search label i {
  color: #52464C;
  font-size: 14px;
}
header #search_col .search input:focus {
  opacity: 1;
  width: 200px;
  border: 1px solid #FFF;
  Xborder-color: rgba(0, 0, 0, 0.25);
  /*-webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;*/
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
}
header #search_col .search input:focus ~ label {
  right: 0;
}
header #search_col #search-error {
  font-size: 10px;
  color: #fff;
}
header:after {
  content: '';
  visibility: hidden;
  height: 0;
  clear: both;
  display: block;
}
footer {
  border-top: 1px #dedede solid;
  background: #444;
  width: 100%;
  height: 3%;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}
footer .menu {
  color: #27ae60;
  margin-left: 50%;
  cursor: pointer;
  position: fixed;
}
.settings {
  position: relative;
  margin-top: -11%;
  width: 100%;
  background: #444 !important;
  border: 1px solid #27ae60;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  overflow: auto;
}
.settings-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 9px 12px 0;
  text-align: left;
  direction: rtl;
  background: #ecf0f1;
  border-bottom: 1px solid #ddd;
  xborder-radius: 3px 3px 0 0;
}
ol li {
  width: 25% !important;
  float: left;
}
.settings-tab,
.settings-list:target:first-of-type ~ .settings-tabs > .settings-tab:first-child ~ .settings-tab,
.settings-list:target:nth-of-type(2) ~ .settings-tabs > .settings-tab:nth-child(2) ~ .settings-tab,
.settings-list:target:last-of-type ~ .settings-tabs > .settings-tab:last-child ~ .settings-tab {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  line-height: 36px;
  font-weight: normal;
  color: #999;
  background: #fcfcfc;
  border: solid #ddd;
  border-width: 1px 1px 0;
  padding-bottom: 0;
  bottom: auto;
}
.settings-tab > .settings-tab-link {
  margin: 0;
  border-top: 0;
}
.settings-tab + .settings-tab {
  margin-right: -1px;
}
.settings-tab:last-child,
.settings-list:target:first-of-type ~ .settings-tabs > .settings-tab:first-child,
.settings-list:target:nth-of-type(2) ~ .settings-tabs > .settings-tab:nth-child(2),
.settings-list:target:last-of-type ~ .settings-tabs > .settings-tab:last-child {
  bottom: -3px;
  margin-top: 0;
  padding-bottom: 2px;
  line-height: 36px;
  font-weight: bold;
  color: #27ae60;
  background: #444444;
  border-top: 0;
}
.settings-tab:last-child {
  margin: 0 -1px;
  xborder-top: 4px solid #27ae60;
}
.settings-tab-link {
  display: block;
  min-width: 60px;
  padding: 0 15px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}
.settings-list {
  display: none;
  padding-top: 50px;
  height: 148px;
}
.settings-list > li + li {
  border-top: 1px solid #e8e8e8;
}
.settings-list:last-of-type {
  display: block;
}
.settings-list:target {
  display: block;
}
.settings-list:target ~ .settings-list {
  display: none;
}
.settings-list-link {
  display: block;
  line-height: 3px !important;
  padding: 10px 12px;
  font-weight: bold;
  color: #eff4d0;
  text-decoration: none;
  cursor: pointer;
}
.settings-list-link:hover {
  background: #333333;
}
li:last-child > .settings-list-link {
  border-radius: 0 0 3px 3px;
}
.settings-list-link > span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #999;
}
.column {
  -webkit-column-width: 500px;
  -moz-column-width: 500px;
  column-width: 500px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
  letter-spacing: 1px;
  line-height: 2;
}
#main {
  width: 100%;
  height: 85%;
  background-color: #ecf0f1;
}
#book {
  height: 100%;
  overflow: hidden;
  line-height: 1.5em;
  background-color: #ecf0f1;
  width: 85%;
  margin: 0 auto;
}
#book img {
  max-height: 400px;
}
#book:after {
  content: '';
  clear: both;
  visibility: hidden;
  display: block;
}
.linehide {
  z-index: 10;
  position: absolute;
}
.bookcolumn {
  overflow: hidden;
  width: 50%;
  height: 100%;
  float: left;
}
#nobook {
  text-align: center;
  height: 20px;
  width: 350px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -10px;
}
/* #book-page  вклала в header */
/* кради що треба і куди тре) */
#button-prev,
#button-next {
  width: 40px;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #60db94;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#button-next {
  right: 0;
}
#button-prev:hover,
#button-next:hover {
  cursor: pointer;
  background-color: #27ae60;
}
#fullScreenBtn {
  position: absolute;
  right: 15px;
  bottom: 30px;
  font-size: 1.3em;
  color: #808080;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#fullScreenBtn:hover {
  cursor: pointer;
  color: #333333;
}
#main:-webkit-full-screen {
  height: 100%;
  padding: 5% 0;
}
#main:-moz-full-screen {
  height: 100%;
  padding: 5% 0;
}
#main:-ms-fullscreen {
  height: 100%;
  padding: 5% 0;
}
#main:fullscreen {
  height: 100%;
  padding: 5% 0;
}
#search {
  float: right;
  position: relative;
  height: 30px;
  padding-top: 13px;
}
#search input {
  width: 0;
  height: 100%;
  position: absolute;
  right: 25px;
  border: 1px solid #FFF;
}
#search .sbutton {
  position: absolute;
  right: 0;
  width: 30px;
  background-color: #27ae60;
  height: 100%;
  font-size: 18px;
  text-align: center;
  padding-top: 4px;
  border: 1px solid #FFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#search .sbutton:hover,
#search .scancel:hover {
  cursor: pointer;
}
#search .serror {
  position: absolute;
  visibility: hidden;
  font-size: 0.8em;
  right: 25px;
  top: 50px;
  width: 200px;
  display: inline-block;
}
#search.active .sbutton {
  background-color: #fff;
}
#search.active .serror {
  visibility: visible;
  color: #fff;
}
.highlight {
  background-color: #ffff00;
}

#loader {
  position: relative;
  width: 250px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -125px;
}
#bookstatus {
  text-align: center;
}
#preloader {
  position: relative;
  width: 250px;
  height: 30px;
}
.preloader {
  position: absolute;
  top: 0;
  background-color: #27ae60;
  width: 30px;
  height: 30px;
  -moz-animation-name: bounce_preloader;
  -moz-animation-duration: 1.4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-transform: scale(0.3);
  -webkit-animation-name: bounce_preloader;
  -webkit-animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.3);
  -ms-animation-name: bounce_preloader;
  -ms-animation-duration: 1.4s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-transform: scale(0.3);
  -o-animation-name: bounce_preloader;
  -o-animation-duration: 1.4s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -o-transform: scale(0.3);
  animation-name: bounce_preloader;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transform: scale(0.3);
}
#preloader_1 {
  left: 0;
  -moz-animation-delay: 0.56s;
  -webkit-animation-delay: 0.56s;
  -ms-animation-delay: 0.56s;
  -o-animation-delay: 0.56s;
  animation-delay: 0.56s;
}
#preloader_2 {
  left: 31px;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#preloader_3 {
  left: 63px;
  -moz-animation-delay: 0.84s;
  -webkit-animation-delay: 0.84s;
  -ms-animation-delay: 0.84s;
  -o-animation-delay: 0.84s;
  animation-delay: 0.84s;
}
#preloader_4 {
  left: 94px;
  -moz-animation-delay: 0.98s;
  -webkit-animation-delay: 0.98s;
  -ms-animation-delay: 0.98s;
  -o-animation-delay: 0.98s;
  animation-delay: 0.98s;
}
#preloader_5 {
  left: 125px;
  -moz-animation-delay: 1.12s;
  -webkit-animation-delay: 1.12s;
  -ms-animation-delay: 1.12s;
  -o-animation-delay: 1.12s;
  animation-delay: 1.12s;
}
#preloader_6 {
  left: 156px;
  -moz-animation-delay: 1.26s;
  -webkit-animation-delay: 1.26s;
  -ms-animation-delay: 1.26s;
  -o-animation-delay: 1.26s;
  animation-delay: 1.26s;
}
#preloader_7 {
  left: 188px;
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  -ms-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
#preloader_8 {
  left: 219px;
  -moz-animation-delay: 1.54s;
  -webkit-animation-delay: 1.54s;
  -ms-animation-delay: 1.54s;
  -o-animation-delay: 1.54s;
  animation-delay: 1.54s;
}
@-moz-keyframes bounce_preloader {
  0% {
    -moz-transform: scale(1);
    background-color: #27ae60;
  }
  100% {
    -moz-transform: scale(0.3);
    background-color: #cccccc;
  }
}
@-webkit-keyframes bounce_preloader {
  0% {
    -webkit-transform: scale(1);
    background-color: #27ae60;
  }
  100% {
    -webkit-transform: scale(0.3);
    background-color: #cccccc;
  }
}
@-ms-keyframes bounce_preloader {
  0% {
    -ms-transform: scale(1);
    background-color: #27ae60;
  }
  100% {
    -ms-transform: scale(0.3);
    background-color: #cccccc;
  }
}
@-o-keyframes bounce_preloader {
  0% {
    -o-transform: scale(1);
    background-color: #27ae60;
  }
  100% {
    -o-transform: scale(0.3);
    background-color: #cccccc;
  }
}
@keyframes bounce_preloader {
  0% {
    transform: scale(1);
    background-color: #27ae60;
  }
  100% {
    transform: scale(0.3);
    background-color: #cccccc;
  }
}
