@headerheight: 12%;
@footerheight: 3%;
@TabsPanelHeight: 10%;
@bookheight: 85%;
@bookWidth: 85%;
@headerColor: #27ae60;
@settingsLinkHover: #333;
@mainBackgroundColor: #ecf0f1;
@hoverColor: #27ae60;
@whiteColor: #fff;
@tabLabelBg: #eee;
@settingPanelContentBg: #444;
@settingPanelTextColor: #EFF4D0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background: @mainBackgroundColor;
}

ul, ol{
  list-style: none;
}

.hint-panel{
  display: none;
  width: 200px;
  height: 50px;
  background: #ccc;
}
.hint-panel.active{
  display: block;
  width: 200px;
  height: 50px;
  background: #ccc;
}


.wrapper {
  width: 95%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

header{
  background: @headerColor;
  width: 100%;
  height: @headerheight; /*75px;*/
  padding: 10px ; 

.file_upload{
  xoutline: none;
  text-align: center;
  &::-webkit-file-upload-button{
      visibility: hidden;
  }
  &:before{
    content: 'ЗАВАНТАЖИТИ КНИЖКУ';
    display: inline-block;
    background: @headerColor;
    padding: 0.625em;
    color: @whiteColor;
    font-family: "lato_regular", arial;
    font-size: 1.250em;
    text-decoration: none;
    margin-top: 0.188em;
    text-transform: uppercase;
    letter-spacing: 0.063em;
    border: 0.125em solid;
    border-radius: 0.063em;
    transition: 0.2s;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 0.063em 0 @whiteColor;
  }
  &:hover:before{ 
    background: darken(@headerColor, 10%);
  }
  &:active:before{ 
    background: darken(@headerColor, 10%);
  }
}

ul.social li a,
  nav ul li a{
    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
  }


  nav{
    overflow: hidden;
    display: inline-block;
    xmargin: 32px 0 0 -50px;
    margin: 0 0 2em 2em;
    padding: 0px 40px;
    border-left: 1px #404040 solid;


    ul{
      list-style: none;
      float: left;
      .social{
          float: right;
          list-style: none;
          margin-top: 0px;
          padding: 0px 60px;
    input[type="text"]{
      border: 1px solid #fff;
    }


          li{
            float: left;
            margin-left: 10px;
            a{
              display: block;
              width: 35px;
              height: 35px;
              background: url('../img/sm.png') no-repeat;
                &:hover{
                  background: url('../img/sm_hover.png') no-repeat;
                }

                .fb{
                  background-position: 0 0;
                }


              .gplus{
                background-position: -72px 0;
              }
            }
          }      
      }

        li{
          float: left;
          margin-left: 35px;
          font-size: 16px;
          font-family: 'lato_regular', arial;
          letter-spacing: 1px;

          &:first-child{
              margin-left: 0;
            }

          a {
            text-decoration: none;
            color: @whiteColor;
              &:hover{
              color: #424242;
            } 
          }                                        
        } 
    }                              
  }

    #book-page {
    span, input {
    display: inline-block;
    height: 25px;
    padding: 3px 5px;
    }
    input {
    background: lighten(@headerColor, 10%);
    border: 1px solid #fff;
    width: 40px;
    outline: none;
    color: #424242;
    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
    }
    input:focus {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    }
    span {
    color: @whiteColor;
    }
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    -o-user-select: none;
    user-select: none; 
    }
    #search_col {
      xwidth: 30%;
      float:right;
      position: relative;

  
.search {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.search input {
    display: inline-block;
    width: 30px;
    height: 34px;
    font-size: 15px;
    font-weight: 400;
    color: #52464C;
    border-bottom: 1px solid transparent;
    border: 1px solid #ccc;
    padding-right: 30px;
    opacity: 0.15;
    /*-webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;*/
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

.search label {
    position: absolute;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    top: 1px;
    right: 0;
    color: #52464C;
    cursor: pointer;
    border: 1px solid #FFF;
}

.search label i {
    color: #52464C;
    font-size: 14px;
}

.search input:focus {
    opacity: 1;
    width: 200px;
    border: 1px solid #FFF;
    Xborder-color: rgba(0,0,0,0.25);
    /*-webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;*/
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

.search input:focus ~ label {
    right: 0;
}

#search-error{
  font-size: 10px;
  color: #fff;

}

    }
   

}

footer{
    border-top: 1px #dedede solid;
    background: #444;
    width: 100%;
    height: @footerheight;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 100;

    .menu{
      color: @hoverColor;
      margin-left: 50%;
      cursor: pointer;
      position: fixed;
    }

}

  .settings {
  position: relative;
  margin-top: -11%;
  width: 100%;
  background: #444 !important;
  border: 1px solid #27ae60;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  overflow:auto;
}

.settings-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 9px 12px 0;
  text-align: left;
  direction: rtl;
  background:@mainBackgroundColor;
  border-bottom: 1px solid #ddd;
  xborder-radius: 3px 3px 0 0;
}

ol li{
  width: 25% !important;
  float: left;
}
  
.settings-tab,
.settings-list:target:first-of-type ~ .settings-tabs > .settings-tab:first-child ~ .settings-tab,
.settings-list:target:nth-of-type(2) ~ .settings-tabs > .settings-tab:nth-child(2) ~ .settings-tab,
.settings-list:target:last-of-type ~ .settings-tabs > .settings-tab:last-child ~ .settings-tab {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  line-height: 36px;
  font-weight: normal;
  color: #999;
  background: #fcfcfc;
  border: solid #ddd;
  border-width: 1px 1px 0;
  padding-bottom: 0;
  bottom: auto;
}
.settings-tab > .settings-tab-link {
  margin: 0;
  border-top: 0;
}

.settings-tab + .settings-tab {
  margin-right: -1px;
}

.settings-tab:last-child,
.settings-list:target:first-of-type ~ .settings-tabs > .settings-tab:first-child,
.settings-list:target:nth-of-type(2) ~ .settings-tabs > .settings-tab:nth-child(2),
.settings-list:target:last-of-type ~ .settings-tabs > .settings-tab:last-child {
  bottom: -3px;
  margin-top: 0;
  padding-bottom: 2px;
  line-height: 36px;
  font-weight: bold;
  color: #27ae60;
  background: @settingPanelContentBg;
  border-top: 0;
}
.settings-tab:last-child {
  margin: 0 -1px;
  xborder-top: 4px solid @hoverColor;
}

.settings-tab-link {
  display: block;
  min-width: 60px;
  padding: 0 15px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.settings-list {
  display: none;
  padding-top: 50px;
  height: 148px;
}
.settings-list > li + li {
  border-top: 1px solid #e8e8e8;
}
.settings-list:last-of-type {
  display: block;
}
.settings-list:target {
  display: block;
}
.settings-list:target ~ .settings-list {
  display: none;
}

.settings-list-link {
  display: block;
  line-height: 3px !important;
  padding: 10px 12px;
  font-weight: bold;
  color: #eff4d0;
  text-decoration: none;
  cursor: pointer;
}
.settings-list-link:hover {
  background: @settingsLinkHover;
}
li:last-child > .settings-list-link {
  border-radius: 0 0 3px 3px;
}

.settings-list-link > span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #999;
}


.column {
    -webkit-column-width: 500px;
    -moz-column-width: 500px;
    column-width: 500px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
    letter-spacing: 1px;
    line-height: 2;
}

#main {
  width: 100%;
  height: @bookheight;
  background-color: @mainBackgroundColor;
}
#book {
 img {
   max-height: 400px;
 } 
 height: 100%;
 overflow: hidden;
 line-height: 1.5em;
 background-color: @mainBackgroundColor;
 width: @bookWidth;
 margin: 0 auto;
}
#book:after {
 content: '';
 clear: both;
 visibility: hidden;
 display: block;
}
.linehide {
 z-index: 10;
 position: absolute;
}
.bookcolumn {
 overflow: hidden;
 width: 50%;
 height: 100%;
 float: left;
}
#nobook {
  text-align: center;
  height: 20px;
  width: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -10px;
}

/* #book-page  вклала в header */




#button-prev, #button-next {
  width: 40px;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  color: @whiteColor;
  background-color: lighten(@headerColor, 20%);
  position: absolute;
  top: 50%;
  margin-top: -15px;
 -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  -o-user-select: none;
  user-select: none; 
}
#button-next {
  right: 0;
}
#button-prev:hover, #button-next:hover {
  cursor: pointer;
  background-color: @headerColor;
}
#fullScreenBtn {
  position: absolute;
  right: 15px;
  bottom: 30px;
  font-size: 1.3em;
  color: lighten(#000, 50%);
 -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  -o-user-select: none;
  user-select: none; 
}
#fullScreenBtn:hover {
  cursor: pointer;
  color: lighten(#000, 20%);
}
#main:-webkit-full-screen {
  height: 100%;
  padding: 5% 0;
}
 
#main:-moz-full-screen {
  height: 100%;
  padding: 5% 0;
}
 
#main:-ms-fullscreen {
  height: 100%;
  padding: 5% 0;
}
 
#main:fullscreen {
  height: 100%;
  padding: 5% 0;
}